src/main/mule/assignment4.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="af9052ce-b41b-47b8-b42c-7e33a4b9eaa1" >
		<wsc:connection wsdlLocation="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso?WSDL" service="CountryInfoService" port="CountryInfoServiceSoap" address="http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso" />
	</wsc:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="49591440-f04d-41ee-9757-33ffccb429eb" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="95befab4-e379-4cba-bad8-276c84c7bda4" >
		<http:request-connection host="webservices.oorsprong.org" />
	</http:request-config>
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="f9186063-fa12-4ef0-9373-8985263898d8" >
		<http:request-connection host="webservices.oorsprong.org" />
	</http:request-config>
	<flow name="ListOfCountryNamesGroupedByContinent" doc:id="14e5cd10-9382-4793-9899-970c1eba6984" >
		<http:listener doc:name="Listener" doc:id="eb1834ef-4cc7-4193-b29a-198332323b24" config-ref="HTTP_Listener_config" path="/soap"/>
		<ee:transform doc:name="Transform Message" doc:id="7e28e001-83be-4ae2-97c4-e3e7ffaa3d10" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns web http://www.oorsprong.org/websamples.countryinfo
---
{
    soapenv#Envelope:{
        soapenv#Body:{
            web#ListOfCountryNamesGroupedByContinent:{
            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="b0ba2ec2-27ec-44b5-9380-10911da9a4bd" config-ref="HTTP_Request_configuration" path="/websamples.countryinfo/CountryInfoService.wso?WSDL">
			<http:headers ><![CDATA[#[output application/java
---
{
	"SoapAction" : "",
	"Content-Type" : "text/xml"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="b9b1e957-a9e9-4bbd-955d-6f8dcb9bb17a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(payload.*Envelope.*Body.*ListOfCountryNamesGroupedByContinentResponse.*ListOfCountryNamesGroupedByContinentResult.*tCountryCodeAndNameGroupedByContinent)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="839f2901-ada0-4274-99cd-bcd633eb7ee4" >
			<ee:message >
				<ee:set-payload ><![CDATA[
%dw 2.0
output application/json
var y = (flatten(payload[1].*CountryCodeAndNames map (item, index) -> 

(item..sName) filter (item, index) -> 
item == "Suriname") ) reduce (item,acc={}) ->
acc ++ {SouthAmerica:item}
var x = (flatten(payload[1].*CountryCodeAndNames map (item, index) -> 

(item..sName) filter (item, index) -> 
item == "Cameroon") ) reduce (item,acc={}) ->
acc ++ {Africa:item}

var z = [(flatten(payload[3].*CountryCodeAndNames map (item, index) -> 

(item..sName) filter (item, index) -> 
item == "India" ) ) reduce (item,acc={}) ->
acc ++ {Asia:item}] + [(flatten(payload[3].*CountryCodeAndNames map (item, index) -> 

(item..sName) filter (item, index) -> 
item == "Mongolia" ) ) reduce (item,acc={}) ->
acc ++ {Asia:item}]
var w =  [(flatten(payload[4].*CountryCodeAndNames map (item, index) -> 

(item..sName) filter (item, index) -> 
item == "Belarus" ) ) reduce (item,acc={}) ->
acc ++ {Europe:item}] + [(flatten(payload[4].*CountryCodeAndNames map (item, index) -> 

(item..sName) filter (item, index) -> 
item == "Hungary" ) ) reduce (item,acc={}) ->
acc ++ {Europe:item}] +  [(flatten(payload[4].*CountryCodeAndNames map (item, index) -> 

(item..sName) filter (item, index) -> 
item == "Germany" ) ) reduce (item,acc={}) ->
acc ++ {Europe:item}]

---
z + [x] +
[y] + w]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="34a36e49-5b2e-4086-85f7-867b34417b19" message="ListOfCountryNamesGroupedByContinent #[payload]"/>
	</flow>
	<flow name="assignment4Flow" doc:id="ba733ff9-add2-4b21-9ce8-9df8d22149b0" >
		<http:listener doc:name="Listener" doc:id="e463a41b-f1a7-4ffb-b925-f09bb555b368" config-ref="HTTP_Listener_config" path="/soap1"/>
		<ee:transform doc:name="Transform Message" doc:id="10b029c0-4dbe-4099-ae27-5f61abf715fd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns soapenv http://schemas.xmlsoap.org/soap/envelope/
ns web http://www.oorsprong.org/websamples.countryinfo
---
{
    soapenv#Envelope:{
        soapenv#Body:{
            web#FullCountryInfo :{
            }
        }
    }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="24ac8099-6003-4f55-ae8a-e039da88f092" config-ref="HTTP_Request_configuration1" path="/websamples.countryinfo/CountryInfoService.wso?WSDL">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "text/xml",
	"SoapAction" : ""
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="3fefbc25-a522-4ccb-bbaa-d28f55f214b2" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

</mule>




















